.bvc-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.bvc-fg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    width: auto;
    height: 100vh;
    object-fit: cover;
}

.bvc-bg {
    display: none;
}

@media (min-width: 769px) {
    .bvc-wrap {
        background: #000;
    }

    .bvc-fg {
        width: auto;
        object-fit: cover;
        min-height: 100%;
    }
}

@media (max-width: 768px) {
    .bvc-fg {
        width: 100vw;
        height: 100vh;
    }
}

.bvc-poster {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: -2;
}
